{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": ["./tsconfig.json"]
    },
    "plugins": ["@typescript-eslint"],
    "env": {
        "node": true
    },
    "rules": {},
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"]
}
